/* ================================================ */
/* mods fuer die Eigens erstellte Gallerie */
/* ================================================ */
.field field-name-field-image{
	float:right;
}
 #cboxWrapper {
    background: #00;
    -moz-border-radius: 1px;
    -webkit-border-radius: qpx;
    border-radius: qpx;
  }
 
 #cboxLoadingOverlay {
        background: #fff;
      }
	  
#cboxLoadedContent img {
  max-width: none;
}