/* ==================================== */
/* SOCIAL_MEDIA.css - Links oben rechts */
/* ==================================== */

/* RSS-Feed config */
/*
.feed-icon
{
	background-image: url(../img/feed.png);
	position: absolute;
	background: no-repeat;
    margin-left: 58.5em;
    margin-top: 1.2em;
}

.feed-icon:hover
{
	background-image: url(../img/feed_selected.png);
	position: absolute;
	background: no-repeat;
    margin-left: 58.5em;
    margin-top: 1.2em;
}

#facebook
{
	width: 2em;
	height: 1.4em;
	background-image:url(../img/facebook_plane.png);
	background-repeat: no-repeat;
    margin-left: 59.2em;
    margin-top: 1.1em;
	position: absolute;
	z-index: 1000;
}

#facebook:hover
{
	width: 2em;
	height: 1.4em;
	background-image:url(../img/facebook_selected.png);
	background-repeat: no-repeat;
    margin-left: 59.2em;
    margin-top: 1.1em;
	position: absolute;
	z-index: 1000;
}

#twitter
{
	width: 2em;
	height: 1.4em;
	background-image:url(../img/twitter_plane.png);
	background-repeat: no-repeat;
    margin-left: 57.3em;
    margin-top: 1.1em;
	position: absolute;
	z-index: 1000;
}

#twitter:hover
{
	width: 2em;
	height: 1.4em;
	background-image:url(../img/twitter_selected.png);
	background-repeat: no-repeat;
    margin-left: 57.3em;
    margin-top: 1.1em;
	position: absolute;
	z-index: 1000;
}
*/